body {
	font-family: 'Ubuntu', sans-serif;
}
.previewrow{
	padding: 2%;
}
.snake{
	margin: auto;
	padding:  0;
	text-align: center;
}
.snakepreview{
	background-image: url('images/snake.jpg');
	background-image: opacity:0.2;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 2em;
	color: white;
	height: 200px;
	width: 100%;
	padding:4%;
	margin:1%;
}
.drumkitpreview{
	background-image: url('images/drumkit.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 2em;
	color: white;
	height: 200px;
	width: 100%;
    padding:4%;
	margin:1%;
}
.patatappreview{
	background-image: url('images/patatapclone.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	text-align: center;
	font-size: 2em;
	color: white;
	height: 200px;
	width: 100%;
    padding:4%;
	margin:1%;
}

.hero  {
	background-image: url('images/mountains2.jpg');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center;
	width: 100%;
	text-align: center;
	color:white;
    	padding-bottom: 15px;
	padding-top:15px;
    	margin-top: 15px;
  }
footer {
	padding-top: 15px;
    padding-bottom: 10px;
    background-color: #33393F;
    text-align: center;
    color: white;
}
.contact {
	background-color: #E8EBEE;
	padding-top: 10px;
	padding-bottom: 10px;
}
.intro{
	text-align: center;
}
#contactme {
	text-align: center;
}

.about {
	padding-bottom: 10px;
}
.contactme {
	background-color: #E8EBEE;
	padding-top: 5px;

}
.fixed-top {
	padding-bottom: 10px;
}
