body {
	font-family: 'Ubuntu', sans-serif;
}
a .navbar-brand {
	font-style: strong;
}

.jumbotron  {
	background-image: url('images/mountains2.jpg');
	background-size: 100%;
	background-repeat: no-repeat;
	text-align: center;
	color:white;
}