body {
	background-color: black;
	color: white;
	text-align: center;
	font-family: 'Oswald', sans-serif;

}
span {
	margin: 0 30% 0 30%;
}

footer {
	border-top: 2px solid white;
	margin: 0 30% 0 30%;
	padding: 1% 1% 1% 1%;
}
@media only screen and (max-width: 768px) {
    body {
    font-size:20px;		

    }
}