body {
	background-color: black;
	color: white;
	text-align: center;
}

@media only screen and (max-width: 768px) {
    body {
        font-size:20px;
        background-color: black;
		color: white;
		text-align: center;

    }
}
footer {
	border-top: 2px solid white
	border-width:30%;
	width: 30%;
}