body {
    margin: 0;
    padding: 0;
    background-color: black;
    color: white;
    font-family: Roboto, sans-serif;
}

.main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* .navbar {
    margin: 1rem 0;
    background-color: black;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navbar-list li {
    margin: 0 10px;
}

.navbar-list li a {
    color: #ffffffbe;
    text-decoration: none;
}

.navbar-list li a:hover {
    color: #ffffff;
    text-decoration: none;
} */

.centered-text {
    text-align: center;
}

.centered-text a {
    color: #ffb700;
}

.centered-text a:hover {
    color: #ffffff;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}