body {
	background-color: black;
	font-family: arial;
	color: white;
	text-align: center;
}

span {
	padding: 0 auto;
	margin: 0 auto;
	background-color: black;
	color: white;
	text-align: center;
}
footer {
	background-color: black;
	color: gray;
	padding:0 auto;
}