.drumkit {
  background-image: url("images/drumkit.jpg");
  background-size: cover;
  padding: 1rem;
}
.drumkitbreadcrumb{
  margin: 0;
}

.keys {
  display: flex;
  flex: 1;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.key {
  border: .4rem solid black;
  border-radius: .5rem;
  margin: 1rem;
  font-size: .5rem;
  padding: .5rem;
  transition: all .07s ease;
  width: 6rem;
  height: 8rem;
  text-align: center;
  color: white;
  background: rgba(0,0,0,0.4);
  text-shadow: 0 0 .5rem black;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 1rem #ffc600;
}

kbd {
  display: block;
  font-size: 1.5rem;
  margin-bottom: .5rem;
}

.sound {
  font-size: 1rem;
  text-align: center;
  text-transform: uppercase;
  color: #ffc600;
}
